@import "../../../styles/main.module.scss";

.button , .buttonActive{
  width: fit-content;
  height: 30px;
  padding: 5px 10px;
  color: $gray_400;
  border: 1px solid $gray_200;
  border-radius: 7px;
  background: $gray_100;
}

.buttonActive {
  color: white;
  font-weight: 700;
  border: 1px solid transparent;
  background: $point;
}
