@import '../main.module.scss';

.faq_container{
  margin-top: 100px;
  .title{
    margin: 135px 0 50px 20px;
  }
  
  .board{
    background-color: white;
    margin-top: 60px;
  }
  .q_container{
    width: 90%;
    height: 70px;
    margin: auto;

    @include flexBox($jc: between);
    border-bottom: 2px solid $gray-100;
    .num{
      @include text-style(12px, $point, 700);
    }
    .q_title{
      @include text-style(16px, $main, 500);
      .arrow_active{
        transform: rotate(180deg);
      }
    }
  }
}
.content{
  padding-top: 0rem;
  padding-bottom: 0rem;
  height: 0px;
  visibility: hidden;
  transition: padding-top 0.5s, padding-bottom 0.5s, height 0.5s, transform 0.5s;
}
.active{
    @include column-flexBox();
    width: 90%;
    margin: 10px auto;
    height: fit-content;
    visibility: visible;
    padding: 1rem;
    transition: padding-top 0.5s, padding-bottom 0.5s, height 0.5s, transform 0.5s;
  }