@import '../main.module.scss';

.modify_container{
  // border: 1px solid red;
  position: relative;
  height: 75vh;
  .confirm_btn{
    position: fixed;
    bottom: 100px;
  }
}

.msg_input, .input_container{
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 150px;
  border-radius: 12px;
  .label{
    @include text-style(12px, #333333, 700, start);
    margin-bottom: 5px;
  }
  textarea{
    resize: none;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    text-indent: 20px;
    @include text-style(16px, #666666, 400, start);
  }
  .msg_length{
    position: absolute;
    top: 80%;
    left: 85%;
    @include text-style(14px, #666666, 400, start);
  }
}
.input_container{
  margin-top: 200px;
  width: 93%;
  @include flexBox();
  gap: 5px;
}
.dupli_text{
  // border: 1px solid red;
}