@import './myWriting.module.scss';

.good{
  width: fit-content;
  border: 1px solid red;
  @include text-style(24px, $main, 700, start);
  margin: 67px 0 85px 24px;
  position: relative;
  .text_deco{
    position: absolute;
    width: 100%;
    height: 13px;
    top: 60%;
    opacity: 0.5;
    transform: rotate(-3.07deg);
    background-color: $point;
  }
}