@import './myPageMain.module.scss';

.profile{
  @extend %page-base;
  border: 1px solid black;
  position: relative;
  .btn{
    position: absolute;
    bottom: 100px;
  }
}

.profile_container{
  @include column-flexBox();

  .profile_img{
    width: 96px;
    height: 96px;
  }
  .user_nickname{
    margin-top: 55px;
    @include text-style(24px, $main, 700);
  }
  .user{
    width: 90%;
    margin-top: 10px;
    .info{
      @include row-flexBox();
      @include flexBox($jc: between);
      margin-top: 20px;
      p{
        @include text-style(14px, #666666, 400);
      }
    }
  }
  .profile_msg{
    width: 70%;
  }
}
.btn_set{
  .modify_btn{
    position: absolute;
    cursor: pointer;
  }
  a:first-child{
    top: 205px;
    left: 203px;
  }
  a:nth-child(2){
    top: 295px;
    right: 15px;
  }
  a:nth-child(3){
    top: 455px;
    right: 15px;
  }
}
