@import '../main.module.scss';
@import '../globals.css';
// @import './myComments.module.scss';

.mywriting{
  position: relative;
  margin-top: 135px;

  .title{
    margin: 135px 0 30px 20px;
  }
  .card_container{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: auto;
    gap: 10px;
    .card{
      // margin: 10px;
      width: 98%;
    }
    // .empty{
    //   border: 1px solid blue;
    // }
  }

}
