@import '../main.module.scss';
@import '../globals.css';

.mywriting{
  position: relative;
  margin-top: 135px;

  .title{
    margin: 130px 0 0px 20px;
  }

  .card_container{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: auto;
    margin-top: 50px;
    gap: 20px 8px;
    
    @media (min-width: 550px) and (max-width: 767px) {
      grid-template-columns: repeat(3, 1fr);
    }
    .card{
      width: 98%;
    }
  }
}
