$main: #000000;
// $point: #ff4e16;
$gray_100: #efefef;
$gray_150: #ebebeb;
$gray_200: #d9d9d9;
$gray_400: #666666;
// $point: #ff41a0;
$point: #FF007F;
// $point: #FFBB00;
// $point: #f58b61;
// $point: #fee126;

