$desktop: 1920px;
$tablet: 800px;
$mobile: 393px;

@mixin desktop{
  @media (min-width: $desktop) {
    @content;
  }
}
@mixin tablet{
  @media (min-width: ($mobile + 1)) and (max-width: ($desktop - 1)) {
    @content;
  }
}
@mixin mobile{
  @media (max-width: $mobile) {
    @content;
  }
}