$h1: 6rem; // 96px
$h2: 3.75rem; // 60px
$h3: 3rem; // 48px
$h4: 2.125rem; // 34px
$h5: 1.5rem; // 24px
$h6: 1.25rem; // 20px
$body1: 1rem; // 16px
$body2: 0.875rem; // 14px
$body3: 0.8rem; // 12.8px
$caption: 0.75rem; // 12px
