@import "../styles/main.module.scss";

.btnDiv {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin: 50px 0;
  margin-right: 20px;
}

.questWrapper {
  .title{
    @include flexBox($jc: between);
    margin-top: 135px;

    .title_div{
      margin-left: 20px;
    }

    .search_icon{
      padding: 10px;
      width: fit-content;
      margin-right: 10px;
      font-size: 20px;
    }
  }
  .dailySection {
    .contents {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 95%;
      margin: 70px auto 0 auto;
      gap: 20px 8px;
    }
  }
  .card_container{
    width: 90%;
    margin: 80px auto 0 auto;
    .card{
      @include flexBox();
      margin-bottom: 20px;
    }
  }
}