@import './main.module.scss';

// .intro{
//   @include flexBox($jc: start, $ai: start);
//   @include column-flexBox();
//   width: 100%;
//   margin-top: 110px;
//   margin-left: 20px;
//   letter-spacing: -0.025em;
//   white-space: pre-line;
//   p{
//     padding: 0; margin: 10px 0;
//     @include text-style(28px, $main, 400, start);
//   div{
//     position: relative;
//     @include text-style(28px, $main, 400, start);
//     .text_deco{
//       position: absolute;
//       width: 100%;
//         height: 13px;
//         top: 60%;
//         opacity: 0.5;
//         transform: rotate(-3.07deg);
//         background-color: $point;
//       }
//   }
//   }
// }

.intro{
    @include flexBox($jc: start, $ai: start);
    @include column-flexBox();
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
    letter-spacing: -0.025em;
    white-space: pre-line;
    p{
      padding: 0; margin: 10px 0;
      position: relative;
      @include text-style(28px, $main, start);
      span{
        position: relative;
      }
    }
}
.text_deco{
    width: 100%;
    height: 13px;
    position: absolute;
    top: 20px; //32
    // left: 20px; //20
    background-color: $point;
    opacity: 0.5;
    transform: rotate(-3.07deg);
  }
      
    // }
    // .text_deco{
    //   position: absolute;
    //   width: 100%;
    //   height: 13px;
    //   top: 60%;
    //   opacity: 0.5;
    //   transform: rotate(-3.07deg);
    //   background-color: $point;
    //   }
    
  
.input_form{
  width: 90%;
  margin: auto;
  position: relative;
    p{
      @include text-style(12px, $main, 700, start);
    }
    
    input{
      width: 100%;
      height: 48px;
      border-radius: 12px;
      @include text-style(16px, #666666, 400, start);
      text-indent: 20px;
      // border: 1px solid blue;
      &:focus{
        outline: none;
      }
    }
    .validation{
      position: absolute;
      margin-top: 8px;
    }
  // border: 1px solid red;
}
.init, .view_pwd{
  position: absolute;
  cursor: pointer;
  left: 240px;
  top: 29px;
  background: none;
  border: none;
  width: 24px; height: 24px;
  @include text-style(20px, #666666, );
}
.view_pwd{
  left: 280px;
}
.validation_text, .duplicate_text{
  @include row-flexBox();
  .grey{
    color: #666666;
  }
  .red{
    color: $point;
  }
  .green{
    color: #1FD393;
  }
  p{
    @include text-style(12px, #666666, 500, start);
    margin-left: 5px;
  }
}
.duplicate_text{
  position: absolute;
  top: 77%;
  margin-left: 10px;
  color: $point;
  p{color: $point}
}

// Button.tsx에 적용한 css
.login_btn, .login_btn_active{
    width: 370px;
    height: 56px;
    border: none;
    border-radius: 16px 16px 0px 0px;
    background-color: $gray_100;
    @include text-style(16px, #666666, 700);
    cursor: pointer;
}
.dupliCheck_btn{
  width: 72px;
  height: 48px;
  border: 1px solid $main;
  background-color: white;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 15px;
}
.login_btn_active{
  background-color: $point;
  color: white;
}
.half_btn{
  width: 50%;
  height: 56px;
  border: none;
  color: white;
  &:nth-child(1){
    background-color: $point;
    border-radius: 16px 0px 0px 0px;
  }
  &:nth-child(2){
    background-color: black;
    border-radius: 0px 16px 0px 0px;
  }
}
.half_container{
  width: inherit;
  height: inherit;
}