html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(#ffffff 97%, #ebebeb 3%);
  background-size: 100% 62px;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
