@import "./main.module.scss";
@import "./globals.css";

.header{
  @extend %page-base;
  &::-webkit-scrollbar {
    display: none;
  }
  // position: relative;
  z-index: 1;
  
  .navbar{
    position: fixed;
    bottom: 0;
    width: 373px;
    background-color: white;
    height: 100px;
    @include flexBox($jc: around);
    @include row-flexBox();  
    @include text-style(30px, $main, 400); 
  }
 
  .profile{
    @include row-flexBox();
    @include flexBox($jc:end);
    margin-right: 20px;
    // margin-top: 5px;
    button{
      cursor: pointer;
      padding: 0;
      background: none;
      border: none;
    }
    
    .login_btn{
      width: 58px;
      height: 49px;
      margin-top: 5px;
      @include text-style(18px, #2979FF, 700);
      // margin-left: 14px;
    }
    
    .after_login{
      @include flexBox($jc:end);
      .bell{
        font-size: 22px;
        width: fit-content; height: fit-content;
        // border: 1px solid red;
      }
      .user{
        font-size: 45px;
        margin-left: 14px;
        margin-top: 10px;
      }
    }
  }
}