@import './main.module.scss';

.loading{
  background-color: white;
  width: 100vw;
  height: 75vh;
  .hash{
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loading_txt{
    @include text-style(20px, #666666, 700);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}