@import './main.module.scss';

.modal_back{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.loading{
  // background-color: white;
  // width: 100vw;
  // height: 75vh;
  .hash{
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
  }
  .loading_txt{
    @include text-style(20px, white, 700);
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}