$w: 353px;
$h: 56px;
$padding: 0 12px;

@mixin center($top:50%, $left:50%) {
  position: absolute;
  top: $top; left: $left;
  transform: translate(-50%, -50%);
}
@mixin img($img_name, $t, $l, $w, $h){
  position: absolute;
  background-image: url('../../public/img/#{$img_name}.png');
  background-repeat: no-repeat;
  background-size: cover;
  top: $t; left: $l;
  width: $w; height: $h;
}
.check_blue{
  @include img(check_blue, 178px, 880px, 150px, 70px);
  z-index: 1;
  // transform: rotate(-11.79deg);
  // @include center(0, 46%);
}

.check_mint{
  @include img(check_mint, 306px, 0px, 314px, 150px);
  background-size: 75%;
}
.star{
  @include img(star, 711px, 263px, 115px, 132px);
}

.dessert{
  @include img(dessert, 340px, 130px, 180px, 150px);
  filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
}
.surprise{
  @include img(surprise, 168px, 1205px, 60px, 100px);
}
.japanese_food{
  @include img(japanese_food, 272px, 603px, 170px, 100px);
}
.korean_food{
  @include img(korean_food, 345px, 1600px, 150px, 150px);
  z-index: 1;
}
.western_food{
  @include img(western_food, 585px, 1206px, 200px, 110px);
}
.pinkStar{
  @include img(pinkStar, 390px, 1560px, 300px, 200px);
}
.thumbs_up{
  @include img(thumbs-up, 800px, 1576px, 120px, 150px);
}





.login_container{
  width: 377px;
  height: 730px;
  border: 2px solid black;
  @include center(61%);
  border-radius: 1em;

  .intro{
    width: 275px;
    height: 104px;
    margin-top: 174px;
    margin-left: 20px;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: -0.025em;
    p{
      padding: 0; margin: 10px 0;
    }
    span{
      font-weight: 700;
    }
    div{
      width: 135.33px;
      height: 18px;
      position: absolute;
      top: 35%;
      background-color: #FFA68A;
      transform: rotate(-3.07deg);
      // margin-top: 5.13px;
      z-index: -1;
    }
  }
}
.btn_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 140px;
  
  .login_btn{
    width: $w;
    height: $h;
    padding: $padding;
    border-radius: 8px;
    border: none;
  }
  .google{
    background-color:  white;
    border: 1px solid #757575;
    color: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .naver{
    background-color:  #03C75A;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .other{
    background-color: #FF4E16;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  p{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    margin-top: 31px;
    margin-right: 11px;
    button{
      font-weight: 700;
      letter-spacing: -0.025em;
      text-decoration: underline;
      color: #333333;
      background: none;
      border: none;
    }
  }

}