@import "../styles/main.module.scss";

.displayNone {
  display: none;
}

section {
  width: 100%;
}

.week_menu {
  width: 100%;
  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 100%;
    border-radius: 30px;
    // border: 2px solid red;
    .table_head {
      td {
        border-bottom: 3px solid pink;
      }
    }
    tbody {
      tr:first-child {
        td:first-child {
          color: red;
        }
      }
    }

    td {
      padding: 20px;
      vertical-align: top;
      border: 2px solid pink;
      font-weight: 700;
    }
    .menu {
      width: 100%;
    }
  }
}
.tabMenuContents {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rankingActiveTitle {
  font-size: $h5;
  font-weight: 700;
}

.rankingTitle {
  font-weight: 700;
  color: $gray_400;
}

.mainPageWrapper {
  margin-top: 135px;

  .mainPageTitleSection {
    .title {
      @include text-style(30px, 500, start);
    }
  }

  .recommendeSection {
    padding: 22px 0;
    @include column-flexBox();
    // display: flex;
    align-items: center;

    .random_food {
      width: 100%;
      padding: 30px 10px;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 100;

      .food_card {
        position: absolute;
        top: -3px;
        left: 55px;
        z-index: -1;
        border: 1px solid rgb(1, 42, 1);
        background: url("/img/today_food.jpg");
        background-size: cover;
        background-position: bottom;
        width: 200px;
        height: 100px;
        transform: rotate(-8deg);
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        @include flexBox($jc: around);
      }
      img {
        width: 100px;
        height: 80px;
        margin-right: 25px;
      }
    }

    .q_btn {
      margin-top: 10px;
      @include flexBox($jc: around);
      gap: 10px;
      .recommend {
        margin-right: auto;
        font-size: $body2;
        color: $gray_400;
      }

      .recommendedBtn {
        display: flex;
        gap: 8px;
      }
    }
  }

  .searchSection {
    margin-top: 30px;
    padding: 0 10px;
    @include flexBox();
    input {
      width: 90%;
      padding: 15px 30px;
      border: 2px solid $main;
      border-radius: 12px;

      &::placeholder {
        color: $gray_400;
      }
    }
    button {
      font-size: 18px;
      padding: 5px;
      margin-left: 10px;
    }
  }

  // .rankingSection {
  //   padding-bottom: 20px;

  //   .dayBtn {
  //     display: flex;
  //     justify-content: flex-end;
  //     gap: 4px;
  //     margin-bottom: 22px;
  //   }

  //   .rankingContents {
  //     .rankingScroll {
  //       display: flex;
  //       gap: 8px;
  //     }
  //   }
  // }

  // .recipeSection {
  //   padding-top: 58px;

  //   .recipeTitle {
  //     display: flex;
  //     align-items: center;
  //     gap: 16px;
  //   }

  //   .recipeContents {
  //     display: flex;
  //     gap: 8px;
  //   }
  // }
}

.ranking {
  .title {
    margin: 50px 0 30px 20px;
  }
  .tab {
    @include flexBox($jc: end);
    padding: 0 20px;
    gap: 10px;
  }
  .card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 40px auto 0 auto;
    gap: 15px 10px;
  }
}
