@import "../styles/main.module.scss";

.displayNone {
  display: none;
}

.main{
  h3{
    margin: 50px 0 50px 0;
  }
}
.week_menu{
  width: 100%;
  table{
      display: table;   
      border-collapse: collapse;    
      border-spacing: 100%;
      // border: 2px solid red;
      td{
        padding: 20px;
        vertical-align: top;
        border: 2px solid red;
        font-weight: 700;
      }
      .menu{
        width: 100%;
      }
  }
}
.tabMenuContents {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rankingActiveTitle {
  font-size: $h5;
  font-weight: 700;
}

.rankingTitle {
  font-weight: 700;
  color: $gray_400;
}

.mainPageWrapper {
  @extend %page-base;
  border: 1px solid black;
  padding: 0 20px;
  margin-top: 52px;

  .mainPageTitleSection {
    .title {
      font-size: $h4;
      font-weight: 400;
    }
  }

  .recommendeSection {
    padding: 22px 0;
    display: flex;
    align-items: center;

    .recommend {
      margin-right: auto;
      font-size: $body2;
      color: $gray_400;
    }

    .recommendedBtn {
      display: flex;
      gap: 8px;
    }
  }

  .searchSection {
    padding-bottom: 20px;

    input {
      width: 100%;
      padding: 18px 40px;
      border: 2px solid $main;
      border-radius: 12px;

      &::placeholder {
        color: $gray_400;
      }
    }
  }

  .rankingSection {
    padding-bottom: 20px;

    .dayBtn {
      display: flex;
      justify-content: flex-end;
      gap: 4px;
      margin-bottom: 22px;
    }

    .rankingContents {
      .rankingScroll {
        display: flex;
        gap: 8px;
      }
    }
  }

  .recipeSection {
    padding-top: 58px;

    .recipeTitle {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .recipeContents {
      display: flex;
      gap: 8px;
    }
  }
}
