@import "../styles/main.module.scss";

.displayNone {
  display: none;
}

section {
  width: 100%;
}

.week_menu {
  width: 100%;
  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 100%;
    border-radius: 30px;
    // border: 2px solid red;
    .table_head {
      td {
        border-bottom: 3px solid pink;
      }
    }
    tbody {
      tr:first-child {
        td:first-child {
          color: red;
        }
      }
    }

    td {
      padding: 20px;
      vertical-align: top;
      border: 2px solid pink;
      font-weight: 700;
    }
    .menu {
      width: 100%;
    }
  }
}
.tabMenuContents {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rankingActiveTitle {
  font-size: $h5;
  font-weight: 700;
}

.rankingTitle {
  font-weight: 700;
  color: $gray_400;
}

.mainPageWrapper {
  margin-top: 135px;
  .mainPageTitleSection {
    .title {
      @include text-style(30px, 500, start);
      margin-bottom: 30px;
    }
  }

  .recommendeSection {
    padding: 22px 0;
    @include column-flexBox();
    // display: flex;
    align-items: center;

    .random_food {
      width: 100%;
      padding: 30px 10px;
      display: flex;
      justify-content: flex-end;
      position: relative;
      z-index: 1;

      .food_card {
        // position: absolute;
        // top: -3px;
        // left: 55px;
        // z-index: -1;
        // border: 1px solid rgb(1, 42, 1);
        // background: url("/img/today_food.jpg");
        // background-size: cover;
        // background-position: bottom;
        // width: 200px;
        // height: 100px;
        // transform: rotate(-8deg);
        // font-size: 24px;
        // font-weight: 500;
        // color: #fff;
        // @include flexBox($jc: around);

        //내가 함
        // background: url("/img/cutting_board.png");
        // background-size: contain;
        // background-repeat: no-repeat;
        // background-position: bottom;
        width: 200px; //200
        height: 200px;
        // border: 1px solid red;
          position: absolute;
          top: -40%;
          left: 25%;
          z-index: -1;

        img{
          width: 200px; //200
          height: 200px;
          // position: absolute;
          // top: -40%;
          // left: 25%;
          transform: rotate(78deg);
          // z-index: -1;
          filter: invert(63%) sepia(97%) saturate(426%) hue-rotate(350deg) brightness(93%) contrast(97%);
          // border: 1px solid red;

        }
        
        p{
          @include flexBox();
          @include text-style(24px, 500);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-70%, -40%);
          // border: 1px solid red;
        }
        .reloadFood{
          @include text-style(25px, $point, 400);
          position: absolute;
          top: 25%; left: 52%;
        }
      }
      img {
        width: 100px;
        height: 80px;
        margin-right: 25px;
      }
    }

    .q_btn {
      margin-top: 10px;
      @include flexBox($jc: around);
      gap: 10px;
      .recommend {
        margin-right: auto;
        font-size: $body2;
        color: $gray_400;
      }

      .recommendedBtn {
        display: flex;
        gap: 8px;
      }
    }
  }

  .searchSection {
    margin-top: 30px;
    padding: 0 10px;
    @include flexBox();
    input {
      width: 90%;
      padding: 15px 30px;
      border: 2px solid $main;
      border-radius: 12px;

      &::placeholder {
        color: $gray_400;
      }
    }
    button {
      font-size: 18px;
      padding: 5px;
      margin-left: 10px;
    }
  }

  // .rankingSection {
  //   padding-bottom: 20px;

  //   .dayBtn {
  //     display: flex;
  //     justify-content: flex-end;
  //     gap: 4px;
  //     margin-bottom: 22px;
  //   }

  //   .rankingContents {
  //     .rankingScroll {
  //       display: flex;
  //       gap: 8px;
  //     }
  //   }
  // }

  // .recipeSection {
  //   padding-top: 58px;

  //   .recipeTitle {
  //     display: flex;
  //     align-items: center;
  //     gap: 16px;
  //   }

  //   .recipeContents {
  //     display: flex;
  //     gap: 8px;
  //   }
  // }
}

.ranking {
  .title {
    margin: 50px 0 30px 20px;
  }
  .tab {
    @include flexBox($jc: end);
    padding: 0 20px;
    gap: 10px;
  }
  .card_container {
    width: 95%;
    margin: 40px auto 0 auto;
    img{
      width: 130px;
      height: 120px;
    }
  }
  .rank_card_container{
    width: 100%;
    border: 1px solid #d9d9d9;
    background: white;
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
    p{
      font-size: 16px;
      font-weight: 400;
      color: #111;
    }
  }
}
