@import "./main.module.scss";

.menu {
  width: 95%;
  margin: 0 auto;
  .menu_title {
    position: relative;
    width: fit-content;
    @include text-style(30px, 600);
    margin: 135px 0 30px 20px;
  }
}
.week_title {
  margin-bottom: 15px;
  text-align: center; // 디자인 고민 좀...
}
.week_menu {
  width: 100%;
  table {
    display: table;
    border-collapse: collapse;
    border-spacing: 100%;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 2px $point;

    .table_head {
      td {
        border-bottom: 3px solid $point;
      }
    }

    td {
      padding: 20px;
      vertical-align: top;
      border: 2px solid $point;
      font-weight: 700;
    }
    .menu {
      width: 100%;
    }
  }
}
