@import "../styles/main.module.scss";

.questWrapper {
  @extend %page-base;
  margin-top: 57px;

  .titleDiv {
    display: flex;
    gap: 16px;
    align-items: center;

    .activeTitle {
      font-size: $h5;
    }

    .title {
      font-size: 1.125rem;
      color: $gray_400;
    }

    .searchIcon {
      margin-left: auto;
      background: transparent;
      background-image: url("../");
    }
  }
}
