@import './main.module.scss';

.ranking{
  .tab{
    @include flexBox($jc: end);
    padding: 0 20px;
    gap: 10px;
  }
  .card_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: 40px auto 0 auto;
    gap: 15px 10px;
  }
}