@import './main.module.scss';

.writing_detail{
  @extend %page-base;
  border: 1px solid black;
  .writing_container{
    width: 90%;
    margin: auto;
    gap: 20px;
  }
  img{
    width: 100%;
    height: 300px;
    border-radius: 0 0 8px 8px;
  }
  h2{
    @include flexBox();
    padding: 20px;
  }
  .created{
    padding-bottom: 10px;
    @include text-style(16px, $gray_400, 500, end);
  }
  .writer{
    padding: 15px;
    padding-left: 0px;
    @include text-style(16px, $gray_400, 500, start);
  }
  .people_res{
    @include flexBox($jc: start);
    gap: 30px;
    .res{
      @include flexBox($jc: start);
    }
    p{
      margin-left: 5px;
      @include text-style(16px, $gray_400, 500);
    }
  }
  .contents{
    border: 1px solid red;
    // min-height: 300px;
    margin: 50px auto;
  }
}