@import './main.module.scss';

.writing_detail{
 
  .writing_container{
    width: 90%;
    margin: auto;
    gap: 20px;
  }
  img{
    width: 100%;
    height: 300px;
    border-radius: 0 0 12px 12px;
  }

  .ranking_container{
    margin-top: 10px;
    width: fit-content;
    @include flexBox($jc: start);
    gap: 15px;
    margin: 10px 0 0 20px;
    position: relative;
    // border: 1px solid red;
    .ranking{
      // background-color: #999999;
      background-color: $point;

      @include text-style(10px, white, 500); //왕관 아이콘
      width: fit-content;
      height: fit-content;
      padding: 5px 10px;
      border-radius: 5px;
      // cursor: pointer;
    }
    
  }
  .scrap_btn{
    position: absolute;
    font-size: 20px;
    left: 90%;
    top: 380px;
    // margin-left: 120px;
  }
  .title_div{
    @include flexBox($jc: between);

    h2{
      padding: 20px 0;
    }
    button{
      font-size: 20px;
    }
  }

  .created{
    padding-bottom: 10px;
    @include text-style(16px, $gray_400, 500, end);
  }
  .writer{
    padding: 15px;
    padding-left: 0px;
    @include text-style(16px, $gray_400, 500, start);
  }
  .people_res{
    @include flexBox($jc: start);
    gap: 30px;
    .res{
      @include flexBox($jc: start);
    }
    p{
      margin-left: 5px;
      @include text-style(16px, $gray_400, 500);
    }
  }
  .contents{
    // min-height: 300px;
    margin: 50px auto;
  }

  .input_comment{
    width: 90%;
    margin: 80px auto;
    @include flexBox($jc: between);
    gap: 10px;

    .send_icon{
      font-size: 20px;
    }
    textarea{
      width: 100%;
      border: 2px solid $main;
      border-radius: 12px;
      resize: none;
      // min-height: 50px;
      // @include flexBox();
      @include text-style(16px, $gray_400, 400, start);
      padding: 10px;
    }
    
  }

  .empty_comment{
    @include flexBox();
    margin-top: 50px;
    @include text-style(16px, $gray_400, 400);
  }

  .view_btn{
    @include flexBox();
    position: fixed;
    // margin-top: 50px;
    bottom: 62px;
    .black{
      background-color: black;
      border-radius: 16px 0 0 0;
    }
    .red{
      background-color: $point;
      border-radius: 0 16px 0 0;

    }
  }

}