@import "./main.module.scss";

.writing_detail {
  width: 100%;
  .writing_container {
    width: 90%;
    margin: auto;
    gap: 20px;
  }
  img {
    width: 100%;
    height: 300px; //300
    border-radius: 0 0 12px 12px;
    margin: 0;
    @include mobile{
      height: 40vh;
    }
  }

  .ranking_container {
    width: fit-content;
    @include flexBox($jc: start);
    gap: 15px;
    margin: 40px 0 0 20px;
    position: relative;
    .ranking, .no_ranking {
      background-color: $point;

      @include text-style(10px, white, 500); 
      width: fit-content;
      height: fit-content;
      padding: 5px 10px;
      border-radius: 5px;
    }
    .no_ranking{
      background-color: transparent;
      color: transparent;
    }
  }
  .btnBox {
    display: flex;
    gap: 15px;
  }
  
  .title_div {
    @include flexBox($jc: between);

    h2 {
      padding: 20px 0;
      // margin-top: 25px;
    }
    button {
      font-size: 20px;
    }
  }

  .created {
    padding-bottom: 10px;
    @include text-style(16px, $gray_400, 500, end);
  }
  .writer_profile{
    width: fit-content;
    height: fit-content;
    .writer {
      padding: 15px;
      padding-left: 0px;
      width: fit-content;
      margin: 15px 0 10px 0;
      @include text-style(16px, $gray_400, 500, start);
    }
  }

  .people_res {
    @include flexBox($jc: start);
    gap: 30px;
    .res {
      @include flexBox($jc: start);
    }
    p {
      margin-left: 5px;
      @include text-style(16px, $gray_400, 500);
    }
    .scrap_btn {
      font-size: 20px;
      position: absolute;
      left: 90%;
    }
  }
  .contents {
    margin: 40px auto;
    pre {
      white-space: pre-wrap;
      overflow: auto;
    }
    p {
      word-break: break-all;
      line-height: 1.5;
    }
  }

  .input_comment {
    width: 90%;
    margin: 90px auto;
    margin-bottom: 85px;
    @include flexBox($jc: between);
    gap: 10px;

    .send_icon {
      font-size: 20px;
    }
    textarea {
      width: 100%;
      border: 2px solid $main;
      border-radius: 12px;
      resize: none;
      @include text-style(16px, $gray_400, 400, start);
      padding: 10px;
    }
  }

  .comment_count{
    padding: 0 0 10px 20px;
    border-bottom: 2px solid $gray_200;
    p{
      @include text-style(14px, $gray_400, 400, start);
      span{
        @include text-style(14px, $gray_400, 600, start);
        margin-left: 5px;
      }
    }
  }
  .empty_comment {
    @include flexBox();
    margin-top: 50px;
    @include text-style(16px, $gray_400, 400);
  }

  .view_btn {
    @include flexBox();
    position: fixed;
    bottom: 62px;
    .black {
      background-color: black;
      border-radius: 16px 0 0 0;
    }
    .red {
      background-color: $point;
      border-radius: 0 16px 0 0;
    }
  }
}
