@import "../../../styles/main.module.scss";
@import "../../../styles/globals.css";

$grey-color: invert(67%) sepia(5%) saturate(14%) hue-rotate(339deg) brightness(91%) contrast(87%);

.header{
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 372px;
  border-bottom: 2px solid $gray-100;
  background-color: white;

  @include mobile{
    width: 100%;
  }
  
  .profile{
    // @include flexBox();
    margin-right: 20px;
    position: relative;
    button{
      cursor: pointer;
      padding: 0;
      background: none;
      border: none;
    }
    
    .before_login{
      height: 62px;
      @include flexBox($jc:between);
      
      .btn_container{
        .login_btn, .signup_btn{
          width: fit-content; 
          height: fit-content; 
          @include text-style(16px, $main, 700);
          margin-left: 12px;
        }
        .login_btn{
          color: $point;
        }
      }
      .go_back_btn{
        img{
          width: 30px;
          height: 30px;
          margin-left: 5px;
        }
        
      }
    }
    .after_login{
      @include flexBox($jc:between);
      
      .go_back_btn{
        img{
          width: 30px;
          height: 30px;
          margin-left: 5px;
        }
        
      }
      .user{
        img{
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin-top: 5px;
          // border: 1px solid black;
        }
      }
    }
  }
}

// LoginHeader.tsx
.login_header{
  position: fixed;
  z-index: 100;
  width: 373px;
  height: 60px;
  @include flexBox($jc: between);
  background-color: white;

  @include mobile{
    width: 100%;
  }
  
  button{
    padding: 0 10px;
  }
}