@import '../../styles/main.module.scss';
@import '../../styles/globals.css';

.layout{
  @extend %page-base;
  position: relative;
  &::-webkit-scrollbar{
      display: none;
  }
  main{
    margin-top: 62px;
    @include background();
  }
  .main{
    // margin-top: 120px;
  }
}