@import '../../styles/main.module.scss';
@import '../../styles/globals.css';

.layout{
  @extend %page-base;
  position: relative;
  &::-webkit-scrollbar{
      display: none;
  }
  float: right;
  margin-right: 20%;

  @include mobile{
    margin: 0;
    clear: right;
  }
  main{
    margin-top: 62px;
    @include background();
  }
}