@import '../../styles/main.module.scss';
@import '../../styles/globals.css';

.layout{
  @extend %page-base;
  position: relative;
  &::-webkit-scrollbar{
      display: none;
  }
  // header{
  //   position: fixed;
  //   border: 1px solid red;
  //   @include flexBox($jc: between);
  //   width: 100%;
  // }
  main{
    margin-top: 62px;
  }
  .main{
    margin-top: 150px;
  }
}