@import '../../../styles/main.module.scss';

.comment_container{
  border-bottom: 2px solid $gray-100;
  background-color: white;
  @include flexBox($jc:start, $ai: start);
  padding: 20px;

  .profile_picture{
    width: 32px; height: 32px;
    border-radius: 50px;
    margin-right: 8px;
    border: 1px solid black;
  }
  .more_btn{
    @include row-flexBox();
    width: 100%;
    justify-content: space-between;
  }
  .content{
    @include column-flexBox();
    width: 85%;
    gap: 4px;
    p:first-child{
      @include text-style(14px, $main, 700, start);
    }
    p:nth-child(2){
      @include text-style(16px, $main, 400, start);
    }
    p:nth-child(3){
      @include text-style(12px, #666666, 400, start);
    }
  }
}
.view_btn{
  @include flexBox();
  position: fixed;
  bottom: 62px;
  
  .black{
    background-color: black;
    border-radius: 16px 0 0 0;
  }
  .red{
    background-color: $point;
    border-radius: 0 16px 0 0;

  }
}
