@import '../main.module.scss';
@import '../globals.css';

  .login_container{
    height: 65vh;
    .add_margin{
      margin-top: 60px;
      border: 1px solid transparent;
    }
    .btn_container{
      @include flexBox();
      @include column-flexBox();
      gap: 16px;
      margin-top: 140px;
      button{
        cursor:pointer;
      }
      .login_btn{
        width: 330px;
        height: 56px;
        padding: 0 12px;
        border-radius: 8px;
        border: none;
      }
      .google{
        background-color:  white;
        border: 1px solid #757575;
        @include text-style(14px, #757575, 500);
        line-height: 16px;
      }
      .naver{
        background-color:  #03C75A;
        @include text-style(14px, white, 500);
        line-height: 16px;
      }
      // .other{
      //   // background-color: #FF4E16;
      //   @include text-style(14px, red, 700);
      //   line-height: 24px;
      //   left: 0;
      // }
      p{
        @include text-style(12px, #666666, 400);
        line-height: 20px;
        margin-top: 31px;
        margin-right: 11px;
        a{
          @include text-style(12px, #333333, 700);
          letter-spacing: -0.025em;
          text-decoration: underline;
          background: none;
          border: none;
          margin-left: 8px;
        }
      }  
    }
  }

.signup{
  margin-top: 32px;
  margin-bottom: 8px;
  p{
    @include text-style(12px, #666666, 400);
  }
  a{
    text-decoration: underline;
    @include text-style(12px, #333333, 700);
    margin-left: 8px;
  }
}
