@import '../loginpage/loginDefault.module.scss';

.agree_check{
  @include flexBox(start, start);
  @include column-flexBox();
  gap: 10px;
  margin-top: 150px;
  height: 300px;
  background-color: white;
  .text_container{
    padding: 12px 0 12px 35px;
    width: 100%;
    &:first-child{
      border-bottom: 1px solid gray;
      padding: 12px 0 12px 20px;
      width: 100%;
    }
    &:last-child{
      padding: 0;
      padding-top: 50px;
    }
  }
  input{
    display: none;
  }
  label{
    // border: 1px solid red;
    @include text-style(16px, #000000, 400, start);
    margin-left: 14px;
    @include flexBox($jc: start);
    gap: 10px;
    .check_btn{
      color: $point;
      font-size: 18px;

    }
  }
  
  .more{
    @include text-style(12px, #666666, 400, start);
    margin-top: 4px;
    margin-left: 41px;
  }
  // .submit{
  //   width: 373px;
  //   height: 56px;
  //   border: none;
  //   border-radius: 16px 16px 0px 0px;
  //   background-color: $gray_100;
  //   @include text-style(16px, #666666, 700);
  //   cursor: pointer;
  // }
}