@import "../../../styles/main.module.scss";

.margin {
  margin: 10px 0;
}

.smallSize {
  width: 156px;
  height: 120px;
}

.mediumSize {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.largeSize {
  width: 337px;
  height: 300px;

}

.cardWrapper {
  border: 1px solid $gray_200;
  background: white;

  .tagContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 12px;

    .tag {
      padding: 2px 8px;
      border-radius: 8px;
      font-size: $body2;
      background: $gray_200;
    }
  }

  .title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
  }

  .userInfoContainer {
    display: flex;
    align-self: center;
    margin-top: 8px;
    font-weight: 400;
    color: $gray_400;
    font-size: $body2;

    .user {
      display: flex;
      align-items: center;
      margin-right: auto;

      .userImg {
        width: 18px;
        height: 18px;
        border-radius: 50%;
      }
    }

    .info {
      display: flex;
      gap: 16px;

      .infoContents {
        display: flex;

        .infoDeco {
          width: 18px;
          height: 18px;
          margin-right: 4px;
          border-radius: 50%;
          background: $gray_200;
        }
      }
    }
  }
}
